<img class="background" src="/background/.jpg"/>
<div class="aboutContainer">
    <img class="aboutImage" src="/images/flags/en.png" />
    <div>
        <div>
            <h1><%= translation.main.about.headers[0] %></h1>
            <h3><%= translation.main.about.headers[1] %></h3>
        </div>
        <p>
            <%= translation.main.about.paragraph %>
        </p>
        <div>
            <% translation.main.about.photoSelectors.forEach(selector=> { %>
                <span><%= selector %></span>
            <% }); %>
        </div>
    </div>
</div>