<div class="main" id="main">
    <button onClick='return delRow()' class='sizer'>-</button>
    <div class="matrix">
        <button onClick='return delCol()'
        style="margin:auto 16px" class='sizer'>-</button>
        <table id="table">
            <tr id='row1'>
                <td id='row1column1'><input value='0'></input></td>
            </tr>
        </table>
        <button onClick='return newCol()' 
        style="margin:auto 16px" class='sizer'>+</button>
    </div>
    <button onClick='return newRow()' class='sizer'>+</button>
    <h3 id="text"></h3>
</div>