html {
    width:100%;
    height:100%;
}

body {
    display: flex;
    background-color: blue;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0;
}

ul {
    height: 100%;
    min-width: 250px;
    list-style-type: none;
    margin: 0;
    border-right: 10px double white;
    padding: 2% 5px;
}

li {
    width: 190px;
    display: flex;
    flex-direction: row;
    margin: 1% auto;
    align-items: center;
}

h1, h2, h3, h4, h5 {
    text-align: center;
    margin: 0;
}

.checkbox {
    border-radius: 50%;
    border: 2px solid black;
    height: 25px;
    width: 25px;
    background-color: transparent;
    color: blue;
    text-align: center;
    font-size: 1rem;
}

.checkbox:hover {
    background-color: darkblue;
    cursor: pointer;
}

h1:hover{
    background-color: darkblue;
    cursor: pointer;
}

button, input[type="submit"], input[type="reset"] {
    background: none;color: inherit;border: none;padding: 0;
    font: inherit;cursor: pointer;outline: inherit;
}

button {
    margin: 4% auto;
    padding:2% 8%;
    background: darkblue;
    text-align: center;
}

.main {
    overflow: auto;
    padding: 2% 5%;
    width: 100%;
    margin: auto;
    height: 100%;
}

h3 {
    margin: auto;
}

span{
    margin: auto;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
}

textarea, input { outline: none; }

input {
    font-size: 1rem;
    height: 30px;
    width: 50px;
    text-align: center;
}

button:hover{
    background-color: darkcyan;
}

.sizer {
    margin: 2% auto;
    justify-content: center;
    display: block;
    padding: 8px 16px;
    width: 50px;
}

.matrix {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#matrix {
    display: flex;
    flex-direction: row;
}

.id {
    flex:1;
    font-size:1.2rem; 
    margin:0 2%;
}