body
{
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	position: absolute; 
	top: 0; 
	left: 0; 
	height: 100%;
	width: 100%;
}	

div:hover
{
    cursor: default;
}

.app
{
	background: rgba(1, 1, 1, 0.3);
	position: relative;
	min-height: 80%;
	flex-basis: 60%;
	align-items: center;
	justify-content: center;
}

body::after
{
	content: "";
	opacity: 0.5;
	background-image: url("/background");
	top: 0;
	left: 0;
	z-index: -1;  
	background-size:cover;
	min-width: 100%;
	min-height: 100%;
	position: fixed;
}

.loader {
	opacity: 0.5;
	border: 0.2vw solid black;
	border-right: 0.2vw solid grey;
	border-left: 0.2vw solid grey;
	border-radius: 50%;
    width: 3vw;
    height: 3vw;
    animation: spin 1s linear infinite;
	position:absolute;
	left:0; 
	right:0;
	top:0; 
	bottom:0;
	margin:auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}