body
{
	background-color: #3399FF;
	height: 100%;
	color: #FFFFFF;
	font-family: 'Exo', sans-serif;
	padding:1%;
}	

a:-webkit-any-link {
	text-decoration: none; /* no underline */
	 color: inherit; /* blue colors for links too */
}
.elementText, .elementButton
{
	border: 2px solid #FFFFFF;
	text-align:center;
}

.elementButton:hover
{
	background-color: #FFFFFF;
	color: #3399FF;
}

footer
{
	text-align:center;
}

.text1 {
  font-size: 5.5vh;
}
.text2{
  font-size: 3.0vh;
}
.text3{
  font-size: 4.5vh;
}
.text4{
  font-size: 4.0vh;
}
.text5{
  font-size: 3.5vh;
}
.text6 {
  font-size: 3.0vh;
}