.background
{
	top: 0;
	left: 0;
	z-index: -10;  
	background-size:cover;
	min-width: 100%;
	min-height: 100%;
    position: fixed;
    @extend %breathingAnimation;
}

main {
    @import './main/about.scss';
    @import './main/contact.scss';
    @import './main/experience.scss';
    @import './main/technologies.scss';
    @import './main/projects.scss';
    @import './main/index.scss';
    flex: 1;
    display: flex;
    overflow: auto;
}