<div data-toggle="collapse" href="#links" aria-expanded="false" aria-controls="links" onclick="removeShaking()">
    <hr>
    <div id="shakingText" class="shaking"><%= translation.footer.more %></div>
    <div id="links" class="collapse footer navbar-fixed-bottom">
        <div class="list-inline-item">
            <span><%= translation.footer.project %></span>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/Arogancki/nodeJS_repo/tree/master/resume">
                <img class="githubLink" src="/images/socials/github.png"></img>
            </a>
        </div>
        <div class="list-inline-item">  
            <span><%= translation.footer.technologies %></span>
            <img src="/images/technologies/nodejs.png"></img>
            <img src="/images/technologies/express.png"></img>
            <img src="/images/technologies/js.png"></img>
            <img src="/images/technologies/html.png"></img>
            <img src="/images/technologies/css.png"></img>
            <img src="/images/technologies/sass.png"></img>
            <img src="/images/technologies/bootstrap.png"></img>
        </div>
        <div class="funny list-inline-item">
            <span><%= translation.footer.funny %></span>
            <a href="/400">400</a>
            <a href="/429">429</a>
            <a href="/500">500</a>
        </div>
    </div>
    <div>© Artur Ziemba 2018</div>
</div>
<script>
function removeShaking() {
    const text = document.getElementById("shakingText")
    if (text.classList.contains('shaking'))
        text.classList.remove('shaking')
}
</script>