#container {
    display: grid;
    grid-template-columns: 50% 50%;
}

#left {
    position: relative;
    margin: 1%;
}

#nameContainer {
    text-align: center;
}

#messageContainer {
    position: absolute;
    bottom: 0;
    width: 96%;
    margin: 2%;
    background-color: rgba(0,0,0,0.3)
}

#button {
    background-color: rgb(2, 2, 2);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1%;
    cursor: pointer;
    width: 98%;
    height: 38%;
}

#message {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
    width: 98%;
    margin: 1%;
    height: 58%;
}

#button:hover {background-color: rgb(50, 50, 50);}

#right {
    height: 400px;
    margin: 1%;
}

ul {
    list-style:none;
    padding:0;
    margin:0;
    overflow-y: scroll;
    height: 88%;
    overflow: auto;
}

#chatMessage {
    display: flex;
    margin: 1%;
    border: solid black 4px;
    border-radius: 10px;
}

h1 {
    margin: 1%;
}

p {
    font-size: 120%;
    margin: 1%;
    overflow: overlay;
}