.projectsContainer ul input:checked + label { font-weight: bold; color: white; }

.projectsContainer ul input:checked + label:hover { color: white; }

.spinner { border-radius: 100%; -webkit-animation: sk-scaleout 1.0s infinite ease-in-out; animation: sk-scaleout 1.0s infinite ease-in-out; }

@-webkit-keyframes sk-scaleout { 0% { -webkit-transform: scale(0); }
  100% { -webkit-transform: scale(1);
    opacity: 0; } }

@keyframes sk-scaleout { 0% { -webkit-transform: scale(0);
    transform: scale(0); }
  100% { -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }

.projectsContainer { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.projectsContainer ul { background-color: #6d7e8f; list-style: none; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0 0; }

.projectsContainer ul li { margin: 1.2rem 0; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; border-radius: 50px; background-color: #637485; }

.projectsContainer ul input { visibility: hidden; }

.projectsContainer ul input:hover + label { color: #cfe2ff; }

.projectsContainer ul label { margin: auto; cursor: pointer; }

.projectsContainer div { display: -ms-grid; display: grid; -ms-grid-columns: (minmax(400px, 1fr))[auto-fill]; grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); }

.projectsContainer div .projectContainer { height: -webkit-fit-content; height: -moz-fit-content; height: fit-content; margin-top: 60px; position: relative; overflow: hidden; border-bottom: 4px solid #637485; }

.projectsContainer div .projectContainer:hover .description { -webkit-transition: max-height 500ms linear 125ms, min-height 125ms linear, opacity 500ms; transition: max-height 500ms linear 125ms, min-height 125ms linear, opacity 500ms; min-height: 250px; max-height: 1000px; opacity: 1; }

.projectsContainer div .projectContainer:hover .projectBackground { -webkit-filter: brightness(40%) blur(1px); filter: brightness(40%) blur(1px); }

.projectsContainer div .projectContainer .projectBackground { border-top: 4px solid #637485; -webkit-transition: -webkit-filter 500ms linear; transition: -webkit-filter 500ms linear; transition: filter 500ms linear; transition: filter 500ms linear, -webkit-filter 500ms linear; top: 0; left: 0; background-size: cover; min-width: 100%; min-height: 100%; position: absolute; display: block; -webkit-filter: brightness(30%) blur(4px); filter: brightness(30%) blur(4px); background-color: white; }

.projectsContainer div .projectContainer div { min-height: 200px; padding: 1.5rem; }

.projectsContainer div .projectContainer div h1 { width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; padding-right: 1rem; font-size: 1.5rem; border-bottom: 1px solid; height: -webkit-fit-content; height: -moz-fit-content; height: fit-content; }

.projectsContainer div .projectContainer div h1:first-letter { text-transform: capitalize; }

.projectsContainer div .projectContainer div a { display: block; margin-top: auto; font-size: 1.2rem; width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; }

.projectsContainer div .projectContainer div a img { max-width: 1.5rem; height: auto; -webkit-transition: -webkit-transform .4s; transition: -webkit-transform .4s; transition: transform .4s; transition: transform .4s, -webkit-transform .4s; border-radius: 50%; }

.projectsContainer div .projectContainer div a:hover { color: #cfe2ff; }

.projectsContainer div .projectContainer div a:hover img { border-radius: 48%; -webkit-transform: rotate(5deg) scale(1.2); transform: rotate(5deg) scale(1.2); }

.projectsContainer div .projectContainer div .description { -webkit-transition: max-height 500ms linear, min-height 125ms linear 500ms, opacity 500ms; transition: max-height 500ms linear, min-height 125ms linear 500ms, opacity 500ms; display: block; max-height: 0px; min-height: 0px; padding: 1rem; overflow: hidden; opacity: 0; }

.projectsContainer div .projectContainer div .description div { padding: 0; }

.projectsContainer div .projectContainer div .description ul { display: block; background-color: initial; }

.projectsContainer div .projectContainer div .description ul li { padding: 0 0.8rem; font-size: 0.8rem; margin: 0 0 0.1rem; }

.projectsContainer span { display: block; text-align: center; margin-top: auto; padding: 15px 0; }

.projectsContainer span a { font-size: 1rem; }

.projectsContainer span a img { max-width: 1.2rem; height: auto; -webkit-transition: -webkit-transform .4s; transition: -webkit-transform .4s; transition: transform .4s; transition: transform .4s, -webkit-transform .4s; border-radius: 50%; }

.projectsContainer span a:hover { color: #cfe2ff; }

.projectsContainer span a:hover img { border-radius: 48%; -webkit-transform: rotate(5deg) scale(1.2); transform: rotate(5deg) scale(1.2); }
/*# sourceMappingURL=projects.css.map */