@import './helpers.scss';

h1 {font-size: 2rem;}
h2 {font-size: 1.6rem;}

a {
    font-weight: auto;
    text-decoration: none;
    color: inherit;
    &:hover{
        font-weight: auto;
        text-decoration: none;
        color: inherit;
    }
}

p {
    margin: 0;
}

body {
    @extend %noselect;
    color: $fontColor;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: $font1;
    font-size: 1rem;
}

.spinner {
    border-radius: 100%;  
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}
  
@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}