@import './variables.scss';

%link {
    color: inherit;
    cursor: pointer;
    display: inline-block;
    transition: transform .4s;
    &:hover {
        color: $fontColorHover;
        transform: scale(1.2);
    }
}

%selected {
    font-weight: bold;
    color: $fontColorFocused;
    &:hover {
        color: $fontColorFocused;
    }
}

%noselect {
    user-select: none; 
}

%selectable {
    user-select: text; 
}