$font1: Raleway, sans-serif;
$font2: Merienda, sans-serif;

$fontColor: rgb(167,186,197);
$fontColorHover: rgb(207,226,257);
$fontColorFocused: rgb(256, 256, 256);
$backgroundColor: rgb(109,126,143);
$backgroundColorDarker: rgb(99,116,133);
$primaryColor: #CAEBF2;
$secondaryColor: #FF3B3F;

$smallScreen: "screen and (max-width : 768px)";