$font1: Raleway, sans-serif;
$font2: Merienda, sans-serif;

$fontColor: green;
$fontColorHover: rgb(128, 0, 107);
$fontColorFocused: rgb(0, 19, 128);
$backgroundColor: #c6c8e8;
$backgroundColorDarker: #b6b8d7;
$primaryColor: #CAEBF2;
$secondaryColor: #FF3B3F;

$smallScreen: "screen and (max-width : 768px)";