$smallScreen: "screen and (max-width : 768px)";

@media #{$smallScreen} {
    main {
        .aboutContainer {
            display: grid;
            grid-template-columns: 100%;
            .aboutImage {
                background-color: red;
                z-index: -1;
                position: fixed;
                width: 50%;
                left: 50%;
                margin-left: -25%;
                margin: 10% 0;
            }
        }
    }
}