$smallScreen: "screen and (max-width : 768px)";

@media #{$smallScreen} {
    main {
        .aboutContainer {
            margin: 5% 5%;
            display: block;
            overflow: overlay;
            width: 100%;
            .imageSlider {
                background-color: black;
                z-index: -1;
                position: fixed;
                // todo glupio wyglada zdjecie dla mobila
            }   
        }
    }
}